@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 36% 98%;
    --foreground: 217 64% 0%;
    --muted: 217 19% 93%;
    --muted-foreground: 217 0% 39%;
    --popover: 217 36% 98%;
    --popover-foreground: 217 64% 0%;
    --card: 217 36% 98%;
    --card-foreground: 217 64% 0%;
    --border: 217 6% 88%;
    --input: 217 6% 88%;
    --primary: 217 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 17% 82%;
    --secondary-foreground: 217 17% 22%;
    --accent: 217 25% 76%;
    --accent-foreground: 217 25% 16%;
    --destructive: 3 97% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 100% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217 55% 3%;
    --foreground: 217 23% 100%;
    --muted: 217 19% 7%;
    --muted-foreground: 217 0% 61%;
    --popover: 217 55% 3%;
    --popover-foreground: 217 23% 100%;
    --card: 217 55% 3%;
    --card-foreground: 217 23% 100%;
    --border: 217 6% 14%;
    --input: 217 6% 14%;
    --primary: 217 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 3% 10%;
    --secondary-foreground: 217 3% 70%;
    --accent: 217 12% 15%;
    --accent-foreground: 217 12% 75%;
    --destructive: 3 97% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 100% 58%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
